<h1>Create Your Pirate</h1>
<form method="post" action="/pirates">


<p>
<label>Pirate Name: <input type="text" id="pirate_name" name="pirate[name]"></label>
<label>Pirate Weight: <input type="text" id="pirate_weight" name="pirate[weight]"></label>
<label>Pirate Height: <input type="text" id="pirate_height" name="pirate[height]"></label>
</p>

<h2>Ship(s)</h2>

<p>
<label>Ship Name: <input type="text" id="ship_name_1" name="pirate[ships][][name]"></label>
<label>Ship Type: <input type="text" id="ship_type_1" name="pirate[ships][][type]"></label>
<label>Ship Booty: <input type="text" id="ship_booty_1" name="pirate[ships][][booty]"></label>
</p>

<p>
<label>Ship Name: <input type="text" id="ship_name_2" name="pirate[ships][][name]"></label>
<label>Ship Type: <input type="text" id="ship_type_2" name="pirate[ships][][type]"></label>
<label>Ship Booty: <input type="text" id="ship_booty_2" name="pirate[ships][][booty]"></label>
</p>

<input type="submit" value="Submit">


</form>



